<div class="container d-flex justify-content-center">

  <div class="card mt-4" style="width: 18rem;">

    <div class="card-header">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a [ngClass]="{ active: this.visibleLogin }" class="nav-link" (click)="toggleLogin()">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
          <a [ngClass]="{ active: this.visibleUser }" class="nav-link" (click)="toggleUser()">Registrarse</a>
        </li>
      </ul>
    </div>

    <div class="card-body">
      <app-new-user *ngIf=this.visibleUser></app-new-user>
      <app-login-form *ngIf=this.visibleLogin></app-login-form>
    </div>

  </div>

</div>
