<ng-container *ngIf="tokenService.getToken(); else notlogged">
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <a class="navbar-brand" routerLink="/home">Administrador de Proyectos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/public-tasks">
            <i class="fas fa-home"></i> Proyectos Públicos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/tasks">
            <i class="far fa-list-alt"></i> Mis Proyectos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" *ngIf="this.isAdmin()" routerLink="admin/user/delete">
            <i class="far fa-trash-alt"></i> Borrar Usuario
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()">
            <i class="fas fa-door-open"></i> Cerrar Sesión
          </a>
        </li>
      </ul>
    </div>
  </nav>
</ng-container>

<ng-template #notlogged>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <a class="navbar-brand" routerLink="/home">Administrador de Proyectos</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            <i class="fas fa-sign-in-alt"></i> Iniciar sesión
          </a>
        </li>
      </ul>
    </div>
  </nav>
</ng-template>
