<ng-container *ngIf="tokenService.getToken(); else notlogged">

  <ng-container *ngIf="tokenService.getAuthorities().includes('ROL_ADMIN'); else user">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Task-list</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Borrar Usuario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onLogout()" >Cerrar Sesión</a>
          </li>
        </ul>
      </div>
    </nav>
  </ng-container>

</ng-container>

<ng-template #notlogged>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Task-list</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Iniciar sesión</a>
          </li>
        </ul>
      </div>
    </nav>
</ng-template>

<ng-template #user>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Task-list</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Ver Trabajos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="onLogout()">Cerrar Sesión</a>
        </li>
      </ul>
    </div>
  </nav>
</ng-template>
